<div *ngIf="complete">
  <div class="text-card">
    <h2 class="heading-title">Congratulations</h2>
    <p>Your account has been activated</p>
    <p>You can now login using the link below and start reserving parking spots</p>
    <a [routerLink]="['/login']" class="btn card-link">login</a>
  </div>
</div>
<div *ngIf="!complete && !error">
  <div class="text-card">
    <h1 class="heading-title">Patience</h1>
    <p>We are processing your activation request</p>
  </div>
</div>
<div *ngIf="!complete && error">
  <div class="text-card">
    <h1 class="heading-title">Oops</h1>
    <p>Something went wrong processing your activation. Please try again or contact us.</p>
  </div>
</div>
