<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="parkings">Parkings</a></li>
    </ul>
    <div class="form-inline my-2 my-lg-0" *ngIf="isLoggedIn()">
      <button [routerLink]="['/login']" class="btn btn-outline-default my-2 my-sm-0" type="submit">Logout</button>
    </div>
  </div>
</nav>

<main role="main" class="container-fluid">
  <div class="starter-template">
      <alert></alert>
      <router-outlet></router-outlet>
  </div>
</main>
